@import "./theme.css";
@import "./neutrals.css";
:root {
	--error-color: #960303;
	font-size: 16px;
}

body {
	background: var(--gray150);
	color: var(--gray10);
	fill: var(--gray10);
	stroke: var(--gray10);
	padding: 0;
	margin: 0;
}

.hdivider {
	width: 2px;
	background: transparent;
	height: 100%;
	position: relative;
	cursor: col-resize;
	display: block;
	z-index: 5;
}

.vdivider {
	width: 100%;
	height: 2px;
	background: transparent;
	position: relative;
	cursor: row-resize;
	display: block;
	z-index: 5;
}

.wait {
	cursor: wait !important;
}

header {
	background: var(--themePrimary);
	color: var(--white);
	border-bottom: solid 2px var(--themePrimary);
}

footer {
	background: var(--themePrimary);
	color: var(--white);
	border-top: 2px solid var(--themePrimary);
}

a {
	color: var(--themePrimary);
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.status {
	position: absolute;
	top: 200px;
	left: calc(40% - 100px);
	width: 200px;
	margin: auto;
	background-color: var(--themePrimary);
	color: var(--white);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 8px var(--gray190);
}

/* tables */

table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	height: 24px;
	background: var(--themePrimary);
	border-radius: 4px 4px 0px 0px;
	color: var(--white);
}

thead tr {
	background: inherit !important;
	color: inherit !important;
	border: none !important;
}

tbody {
	overflow-y: scroll;
	overflow-x: scroll;
}

td {
	padding: 8px 4px;
	vertical-align: top;
	font-size: medium;
}

td.list {
	vertical-align: middle;
	white-space: nowrap;
}

td.editing {
	background-color: var(--gray190) !important;
	outline: 1px solid var(--themePrimary) !important;
}

td.fixed {
	text-align: center;
	vertical-align: middle;
	background-color: var(--gray190) !important;
	cursor: default !important;
}

td.initial {
	border-right: 3px solid var(--gray190);
}

td.translated {
	border-right: 3px solid #ff9800;
}

td.reviewed {
	border-right: 3px solid #ff9800;
}

td.final {
	border-right: 3px solid #009688;
}

tr.selected {
	border-top: 2px solid var(--themePrimary) !important;
	border-bottom: 2px solid var(--themePrimary) !important;
	background-color: var(--gray190) !important;
}

th {
	position: sticky;
	z-index: 5;
	padding: 0px 4px;
	top: 0;
	font-weight: 300;
	background: var(--themeDark);
	color: var(--white);
	fill: var(--white);
	stroke: var(--white);
}

.titlePanel {
	margin: 0;
	padding: 0;
	border-radius: 4px 4px 0px 0px;
	background: var(--themeDark);
	color: var(--white);
	fill: var(--white);
	stroke: var(--white);
}

.titlePanel td {
	height: 30px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 4px;
	white-space: nowrap;
	overflow-x: hidden;
	vertical-align: middle;
}

.titlePanel td a svg {
	fill: var(--white);
	stroke: var(--white);
	margin-top: 4px;
	margin-right: 4px;
}

.stripes tr {
	border-bottom: 2px solid var(--gray150);
}

.currentRow {
	border-top: 2px solid var(--themePrimary) !important;
	border-bottom: 2px solid var(--themePrimary) !important;
	background-color: var(--gray190) !important;
}

.sourceContainer {
	background-color: var(--gray190);
	padding: 4px;
	margin: 0;
	width: 100%;
	white-space: pre-wrap;
	border-bottom: 1px solid var(--themePrimary);
}

.targetContainer {
	background-color: var(--gray190);
	padding: 4px;
	margin: 0;
	width: 100%;
	white-space: pre-wrap;
	border-bottom: 1px solid var(--gray190);
}

.machineContainer {
	background-color: var(--gray190);
	padding: 4px;
	margin: 0;
	width: 100%;
	white-space: pre-wrap;
}

.fixed {
	width: 1px;
	text-align: center;
}

.highlighted {
	color: var(--gray40);
	background-color: var(--themePrimary);
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 2px;
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

.middle {
	vertical-align: middle;
}

/* inputs */

input {
	background-color: var(--gray160);
	color: var(--gray30);
	border: 1px solid var(--gray30);
	height: 22px;
	font-size: 14px;
	padding: 2px 4px;
	border-radius: 2px;
}

.table_input {
	width: calc(100% - 14px);
}

.table_select {
	width: calc(100% - 4px);
}

input:focus {
	outline: none !important;
	border: 1px solid var(--themePrimary);
}

input:focus+label {
	color: var(--themePrimary);
}

input:disabled {
	background-color: var(--gray90);
}

input[type=number] {
	font-size: 14px;
	padding: 2px 4px;
}

select {
	background-color: var(--gray160);
	color: var(--gray30);
	border: 1px solid var(--gray30);
	font-size: 14px;
	height: 28px;
	padding: 2px 4px;
	border-radius: 2px;
}

select:focus {
	outline: none !important;
	border: 1px solid var(--themePrimary);
}

option {
	font-size: 14px;
	background-color: var(--gray160);
	color: var(--gray30);
}

button {
	color: var(--white);
	background: var(--themePrimary);
	border: 1px solid var(--themePrimary);
	border-radius: 4px;
	font-size: 14px;
	text-align: center;
	margin: 4px;
	padding-left: 8px;
	padding-right: 8px;
	white-space: nowrap;
}

button:focus {
	outline: none !important;
	background: var(--themeDarkAlt);
}

button:hover {
	background: var(--themeDarkAlt);
	border: 1px solid var(--themeDarkAlt);
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.14, 0.71, 0.38, 1);
	transition-delay: 0s;
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0;
}

label {
	padding-left: 4px;
	padding-right: 4px;
}

.column {
	display: flex;
	flex-direction: column;
}

.fill_width {
	width: 100%;
}

.noWrap {
	white-space: nowrap;
}

.paddedArea {
	padding: 4px;
	margin: 4px 8px;
}

.optionBox {
	border: 1px solid grey;
	border-radius: 4px;
}

.buttonArea {
	display: flex;
	flex-direction: row;
	padding: 8px 16px;
	justify-content: flex-end;
}

/* toolbars */

.toolbar {
	display: flex;
	flex-direction: row;
	background: var(--gray130);
	color: var(--gray10);
	fill: var(--themePrimary);
	stroke: var(--themePrimary);
	padding: 2px 4px;
	justify-content: flex-start;
	vertical-align: middle;
}

.toolbar button {
	padding: 4px;
	background: inherit;
	border: none;
	outline: none;
	color: inherit;
	fill: inherit;
	stroke: inherit;
	text-align: left;
	font-size: 12px;
	vertical-align: middle;
	box-shadow: none;
}

.toolbar button img {
	padding: 4px;
}

.toolbar a {
	color: inherit;
	fill: inherit;
	stroke: inherit;
	margin-left: 2px;
	margin-right: 2px;
}

.toolbar a img {
	padding-top: 4px;
}

.toolbar a svg {
	padding-top: 4px;
	color: var(--gray10);
	fill: var(--gray10);
	stroke: var(--gray10);
}

.toolbar a:hover {
	background-color: var(--gray160);
	text-decoration: none !important;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.14, 0.71, 0.38, 1);
	transition-delay: 0s;
	border-radius: 2px;
}

.toolbar input {
	height: 18px !important;
}

svg {
	fill: var(--white);
	stroke: var(--white);
	stroke-width: 0.1;
}

th svg {
	margin-top: 4px;
	fill: var(--gray10) !important;
	stroke: var(--gray10) !important;
}

/* tabs */

.tabHolder {
	display: flex;
	flex-flow: row;
	color: var(--gray30);
	background: var(--gray150);
	margin: 0;
	padding: 0;
	border-bottom: 2px solid var(--gray130);
}

.tab {
	overflow: hidden;
	background: var(--gray150);
	color: var(--gray30);
	fill: var(--gray30);
	stroke: var(--gray30);
	padding: 4px 12px;
	margin: 0;
	vertical-align: middle;
	box-shadow: none !important;
	text-decoration: none !important;
}

.selectedTab {
	background: var(--gray130);
	color: var(--gray10);
	border-left: 1px solid var(--gray150) !important;
	border-right: 1px solid var(--gray150) !important;
}

.tabBackground {
	background: var(--gray130);
}

.tab:hover {
	color: var(--themeTertiary);
	fill: var(--themeTertiary);
	stroke: var(--themeTertiary);
}

.selectedTab:hover {
	color: var(--white);
	fill: var(--white);
	stroke: var(--white);
}

.tab a {
	color: inherit;
	fill: inherit;
	stroke: inherit;
	text-decoration: none;
	cursor: pointer;
}

.tab a:hover {
	color: inherit;
	fill: inherit;
	stroke: inherit;
}

.tabContent {
	display: block;
}

.lighter {
	background-color: var(--gray150);
}

.panel {
	z-index: 5;
	display: block;
	overflow-y: scroll;
}

.panelcontent {
	z-index: -20;
	display: block;
	width: 100%;
	overflow-y: auto;
	overflow-x: auto;
}

.panelcontent table {
	z-index: -30;
}

/* tooltips */

.tooltip {
	position: relative;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.tooltip .tooltiptext {
	background-color: var(--themeDarker);
	color: var(--white);
	visibility: hidden;
	padding: 4px;
	border-radius: 2px;
	box-shadow: 0px 2px 4px var(--gray160);
	white-space: nowrap;
	/* Position the tooltip */
	position: absolute;
	z-index: 100;
}

.topTooltip {
	bottom: 120%;
	left: 20px;
}

.bottomTooltip {
	top: 120%;
	left: 20px;
}

.bottomCenterTooltip {
	top: 120%;
	left: -80px;
}

.bottomRightTooltip {
	top: 120%;
	right: 20px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.highlight {
	color: var(--gray40);
}

.active svg {
	stroke: var(--themePrimary) !important;
	fill: var(--themePrimary) !important;
}

.bordered {
	border: 1px solid var(--white) !important;
	border-radius: 4px;
}

.error {
	color: var(--error-color) !important;
}

.preserve {
	white-space: pre-wrap;
}

.divContainer {
	/* Any container that needs to scroll content */
	width: 100%;
	height: 100%;
	overflow: auto;
}

.space {
	background: var(--themeTertiary);
	border-radius: 2px;
	font-weight: 700;
}

.paddedPanel {
	margin: 8px;
	border-radius: 4px;
	width: calc(100% - 16px);
	height: calc(100% - 16px);
	overflow: auto;
	background: var(--gray160);
}

.leftPaddedPanel {
	margin-top: 8px;
	margin-right: 4px;
	margin-left: 8px;
	margin-bottom: 8px;
	border-radius: 4px;
	width: calc(100% - 12px);
	height: calc(100% - 16px);
	overflow: auto;
	background: var(--gray160);
}

.rightPaddedPanel {
	margin: 0px;
	width: 100%;
	height: 100%;
}

.topPaddedPanel {
	margin-top: 8px;
	margin-right: 8px;
	margin-left: 4px;
	margin-bottom: 4px;
	border-radius: 4px;
	width: calc(100% - 12px);
	height: calc(100% - 12px);
	background: var(--gray160);
}

.centerPaddedPanel {
	margin-top: 4px;
	margin-right: 8px;
	margin-left: 4px;
	margin-bottom: 4px;
	border-radius: 4px;
	width: calc(100% - 12px);
	height: calc(100% - 8px);
	background: var(--gray160);
}

.bottomPaddedPanel {
	margin-top: 4px;
	margin-right: 8px;
	margin-left: 4px;
	margin-bottom: 8px;
	border-radius: 4px;
	width: calc(100% - 12px);
	height: calc(100% - 12px);
	background: var(--gray160);
}

::-webkit-scrollbar {
	mix-blend-mode: darken;
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-thumb {
	min-height: 30px !important;
	background-color: var(--gray110);
	border-radius: 6px;
}

::-webkit-scrollbar-corner {
	background-color: inherit;
	border-radius: inherit;
}

::-webkit-scrollbar-button {
	border-radius: inherit;
}

::-webkit-scrollbar-button {
	border-radius: inherit;
}