:root {
	--darker-background: #4f7ec2;
	--dark-background: #4c79ba;
	--dark-color: #fefefe;
	--light-background: #3c65a4;
	--lighter-background: #3b3b3b;
	--soft-background: #666666;
	--normal-background: #232323;
	--normal-color: #ffffff;
	--even-row-background: #2a2a2a;
    --odd-row-background: #313131;
	--highlight-color: #ecf01b;
	--shadow-color: #1e1e1e;
}
