* {
    font-family: Verdana, Arial, sans-serif;	
}

body {
    background: #ececec;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 4px;
    font-size: 0.7em;
    background: #e1e1e1;
    border: 1px solid #adadad;
    white-space: nowrap;
    overflow: hidden;
    justify-content: space-between;
}

button:hover {
    background: #e5f1fb;
    border: 1px solid #56a5e4;
}
.panel {
    padding: 8px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
}

.panel td {
    white-space: nowrap;
    font-size: 0.8em;
}

.buttonArea {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: flex-end;
}

.buttonArea p {
    margin: 4px;
    flex:1;
    text-align: center;
}

input[type=text] {
	width: 100%;
	font-size: 0.8em;
}

.fill {
    width: 100%;
}
