/bin/
/conf/
/include/
/legal/
/lib/
/out/
/dist/
/js/
.DS_Store
.cache/
docs/out/
/node_modules/
/TMXEditor-darwin-x64/
app.js
release
server.sh
server.bat
package-lock.json
sonar-project.properties
sonarqube.sh
.scannerwork
