/bin/
/conf/
/include/
/legal/
/lib/
/out/
/dist/
/js/
.DS_Store
/node_modules/
/TMXEditor-darwin-x64/
/TMXEditor-win32-x64/
/docs/en/out/
/docs/es/out/
app.js
release
server.sh
server.bat
package-lock.json
sonar-project.properties
sonarqube.sh
.scannerwork
